.Container {
  display: flex;
    margin-left: 350px;
  align-items: center; 
   width: 100%;   
  margin-top: 100px;
  padding: 50px;
  border-radius: 25px;
 background-color: rgb(247, 247, 247);
 border: 5px;
 border-color: black;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.button {
justify-content: center;
display: flex;

}

.button2 {
    color: #ffffff;
    font: 16px system-ui;
    background-color: rgb(49, 90, 223) ;
    padding: 5px;
    border-radius: 5px;
    width: 1200px;
}


.texto {
    text-align: center;
}

